<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Wiki!</title>
    <link rel="stylesheet" th:href="@{/css/bulma.css}" >
    
    <script src="https://kit.fontawesome.com/81e4f4ee55.js" crossorigin="anonymous"></script>
    
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>

<div class="container is-mobile">

    <section class="hero is-primary">
        <div class="hero-head">
            <div class="container is-fluid">
                <h2 class="title">
                    <i class="fas fa-film"></i>
                    &nbsp;
                </h2>
                <!--<h2 class="subtitle">
                    &nbsp;
                </h2>-->
            </div>
        </div>
    </section>

    <!-- Header Details -->

    <div class="container is-widescreen">

        <nav class="level is-mobile">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Movies</p>
              <p class="title"><span th:text="${hints.totalMovies}"></span></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">English</p>
              <p class="title"><span th:text="${hints.totalEnglishMovies}"></span></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Tamil</p>
              <p class="title"><span th:text="${hints.totalTamilMovies}"></span></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Telugu</p>
              <p class="title"><span th:text="${hints.totalTeluguMovies}"></span></p>
            </div>
          </div>
        </nav>

    </div>


    <!-- Search Fields Section -->
    <!--<section class="section">
        <div class="container is-widescreen">

            <div class="field">
                &lt;!&ndash;<label class="label">Start Year</label>&ndash;&gt;
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="text" placeholder="Start Year" value="">
                    <span class="icon is-small is-left">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                &lt;!&ndash;<label class="label">End Year</label>&ndash;&gt;
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="text" placeholder="End Year" value="">
                    <span class="icon is-small is-left">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                </div>
            </div>

        </div>
    </section>-->

    <br/>

    <form action="#" th:action="@{/mobileView}" th:object="${searchItems}" method="get">
        <div class="field has-addons has-addons-right">
            <p class="control">
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="text" th:field="*{startYear}" placeholder="2017" value="">
                    <span class="icon is-small is-left">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                </div>
            </p>
            <p class="control">
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="text" th:field="*{endYear}" placeholder="2020" value="">
                    <span class="icon is-small is-left">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                </div>
            </p>
            <p class="control">
                <button class="button">
                    Go
                </button>
            </p>
        </div>
    </form>
    <!-- Body -->

    <!--<div class="box" th:each="movie : ${page.content}">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded" th:src="${movie.imageUrl}">
                </figure>
            </div>
            <div class="media-content">
                <div class="content level is-mobile">
                    <p>
                        <strong><span th:text="${movie.title}" ></span></strong> <small>@<span th:text="${movie.releaseYear}" ></span></small>
                        <br>
                        <span th:text="${movie.title}" ></span> is a <span th:text="${movie.language}" ></span> flim
                        written by <span th:text="${movie.flimDirector}" ></span>
                        Starring <span th:text="${movie.actorName}" > and <span th:text="${movie.actressName}" >
                        Music scored by <span th:text="${movie.musicDirector}" ></span>.
                    </p>
                </div>
            </div>
        </article>
    </div>-->

    <br/>

    <progress class="progress is-success" th:value="${page.number+1}" th:attr="max=${page.totalPages}" >
        <span th:text="${page.number}">%</span>
    </progress>

    <div class="card" th:each="movie : ${page.content}">
        <!--<div class="card-image">
            <figure class="image is-4by3">
                <img th:src="${movie.imageUrl}" alt="Placeholder image">
            </figure>
        </div>-->
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img th:src="${movie.imageUrl}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-5"><span th:text="${movie.title}" /></p>
                    <p class="subtitle is-6">@<span th:text="${movie.releaseYear}" /></p>
                </div>
            </div>

            <div class="content">
                <strong><span th:text="${movie.title}" /></strong> is a <span th:text="${movie.language}" /> flim
                released in <span th:text="${movie.releaseYear}" />,
                written by <strong><span th:text="${movie.flimDirector}" /></strong>
                Starring <strong><span th:text="${movie.actorName}" /></strong> and
                <strong><span th:text="${movie.actressName}" /></strong>
                Music scored by <strong><span th:text="${movie.musicDirector}" /></strong>.
            </div>
        </div>

    </div>

    <!-- Pagination -->

    <progress class="progress is-success" th:value="${page.number+1}" th:attr="max=${page.totalPages}" >
        <span th:text="${page.number}">%</span>
    </progress>

    <nav class="pagination" role="navigation" aria-label="pagination">
        <a th:if="${page.hasPrevious()}"
           th:href="@{/mobileView(page=${page.number-1},size=${page.size},startYear=${searchItems.startYear},endYear=${searchItems.endYear})}"
           class="pagination-previous" title="Previous <<">Previous</a>

        <a th:if="${page.hasNext()}"
           th:href="@{/mobileView(page=${page.number+1},size=${page.size},startYear=${searchItems.startYear},endYear=${searchItems.endYear})}"
           class="pagination-next" title="Next >>">Next page</a>

       <!-- <ul class="pagination-list">
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                <li>
                    <a class="pagination-link is-current" aria-label="Page 1" aria-current="page"
                       th:if="${page.number == i}">[[${i}+1]]</a>
                </li>
                <li th:unless="${page.number == i}">
                    <a class="pagination-link" aria-label="page 1"
                       th:href="@{/mobileView(page=${i},size=${page.size},startYear=${searchItems.startYear},endYear=${searchItems.endYear})}">[[${i}+1]]</a>
                </li>
            </th:block>
        </ul>-->

    </nav>

</div>



<!-- Footer Sections Goes Here -->

	<footer class="footer">
	  <div class="content has-text-centered">
	    <p>
	      <strong>Movie Database </strong> build by <a href="https://twitter.com/get4gopim">get4gopim@gmail.com</a>. Running on
	      <a href="https://pivotal.io/">Pivotal Cloud</a>.
	    </p>
        <p>
            <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
        </p>
	  </div>
	</footer>
	
  </body>
</html>